:host {
  width: calc(100% - 80px - 340px);
  display: inline-block;
  background-color: #f7f7f7;
  padding: 0 40px;

  & > * {
    margin-top: 40px;
    display: block;

    &:last-child {
      margin-bottom: 40px;
    }
  }
}
