@import 'src/client/css/colors';
@import 'src/client/css/fonts';

:host {
  position: fixed;
  right: 40px;
  width: 280px;
  padding: 10px;
  background-color: white;
  font-family: 'PolarisBook';

  & > * {
    display: inline-block;
    width: 100%;
  }
}

.title {
  float: left;
}

.info {
  color: $color-text-light;
}

.description, .total {
  text-align: right;
  float: right;
}

.summary-quantity {
  line-height: 36px;

  .title {
    font-family: 'PolarisCondensed';
    text-transform: uppercase;
    letter-spacing: 2.1px;
    font-size: 24px;
    color: $color-text;
  }
}

.summary-price {
  & > * {
    display: inline-block;
  }

  .title {
    font-weight: bold;
  }

  .description {
    margin-top: 20px;
  }

  .price {
    font-weight: bold;
  }
}
