@import 'src/client/css/colors';

/* Reset */
html,
body {
  width: 100%;
  height: 100%;
  background-color: $color-background;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &, div {
    border: 0;
    margin: 0;
    padding: 0;
  }
}

/* Box-sizing border-box */
// * {
//   box-sizing: border-box;
// }
